* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

#headwrap {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    border-bottom: 1px solid ;
}


/*----------head top-----------*/

#headwrap > #head_top {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #f4f4f4;
}

#headwrap > #head_top > #head_topbar {
    float: left;
    padding-left: 140px;
    box-sizing: border-box;
}

#headwrap > #head_top > #head_topbar > li {
    float: left;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;  
    border-radius: 15px;
}

#headwrap > #head_top > #head_topbar > li > a {
    display: flex;
    color: #fff;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#headwrap > #head_top > #head_topbar > .eBook {
    background-color: #156cdd;
}

#headwrap > #head_top > #head_topbar > .sam {
    background-color: #06bbc0;
}

#headwrap > #head_top > #head_topbar > .hottrax {
    background-color: #e8422f;
}

#headwrap > #head_top > #head_topbar > .info {
    background-color: #8f603d;
}

#headwrap > #head_top > #head_topbar > .talksoda {
    background-color: rgb(241, 108, 12);
}

#headwrap > #head_top > #head_topbar > .story {
    background-color: #fff;
}

#headwrap > #head_top > #head_topbar > .story > a {
    color: rgb(73, 67, 67)
}

#headwrap > #head_top > .head_topmenu {
    float: left;
    position: relative;
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer;
}

#headwrap > #head_top > .head_topmenu::after {
    content: "▾";
}

#headwrap > #head_top > .head_topmenu > .on {
    position: absolute;
    transition: all 0.5s;
    z-index: 11;
}

#headwrap > #head_top > .head_topmenu > .off {
    display: none;
    position: absolute;
}

/*-------------head hide (on off)-------------*/

#head_hide {
    position: absolute;
    top: 10px;
    width: 330px;
    height: 270px;
    padding: 20px;
    border: 1px solid #ececec;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
}

#head_hide_animation{
    position: absolute;
    display: block;
    width: 290px;
    height: 230px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#head_hide_animation::-webkit-scrollbar {
    width: 2px;
}

#head_hide_animation::-webkit-scrollbar-thumb {
    background-color: #000;
    height: 150px;
}

#head_hide_animation > li {
    float: left;
    width: 135px;
    height: 34px;
}

#head_hide_animation > li+li+li {
    margin-top: 16px;
}

#head_hide_animation > li > a > .img_box > img {
    float: left;
    width: 34px;
    height: 34px;
}

#head_hide_animation > li > a > .text_box {
    display: flex;
    align-items: center;
    width: 80px;
    height: 34px;
    color: #040404;
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

/*-----------head top animation 끝----------*/

#headwrap > #head_top > #user_menu {
    float: left;
    margin-left: 80px;
}

#headwrap > #head_top > #user_menu > li {
    float: left;
    font-size: 12px;
    font-weight: bold;
}

#headwrap > #head_top > #user_menu > li+ li::before {
    content:"|";
    display: inline-block;
	width: 1px;
    margin: 0 10px 0 10px;
	opacity: 0.2;
}

#headwrap > #head_top > #user_menu > li > a {
    color: #595959;
    padding: 0 0 0 7px;
    box-sizing: border-box;
}

/*------------head middle----------*/

#headwrap > #head_middle {
    display: flex;
    height: 100px;
    align-items: center;
}

#headwrap > #head_middle > #logo {
    float: left;
}

#headwrap > #head_middle > #logo > .logo {
    display: block;
    width: 172px;
    height: 94px;
    background-size: 172px 94px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png);
}

#headwrap > #head_middle > #search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 50px;
    background-color: white;
    border: 1px solid #156cdd;
    border-radius: 25px;
    margin-left: 20px;
    box-sizing: border-box;
}

#headwrap > #head_middle > #search > #select > #selectbar{
    border: 1px solid transparent;
    width: 160px;
    font-size: 14px;
    color: #040404;
    font-weight: bold;
    height: 48px;
    text-align: center;
    border-radius: 25px;
}

#headwrap > #head_middle > #search > #searchinput {
    display: flex;
    width: 400px;
    height: 30px;
}

#headwrap > #head_middle > #search > #searchinput > .inputbox {
    border: none;
    width: 400px;
}

#headwrap > #head_middle > #search > #searchimg > a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_header_search@2x.png);
}

/*------------search popup-------------*/

#headwrap > #head_middle > #search > #search_popup {
    position: absolute;
    left: 0px;
    top: 55px;
    width : 994px;
    height: 728px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: white;
}

#headwrap > #head_middle > #search > .on {
    position: absolute;
    display: block;
    z-index: 11;
}

#headwrap > #head_middle > #search > .off {
    position: absolute;
    display: none;
}

#search_popup > .content {
    width: 954px;
    height: 688px;
    padding: 20px;
    box-sizing: border-box;
}

#search_popup > .content > .top {
    width: 954px;
    height: 190px;;
}

#search_popup > .content > .top > h3 {
    margin-bottom: 20px;
}

#search_popup > .content > .top > span > .tag {
    display: inline-block;
    font-size: 14px;
    padding: 6px 16px 8px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    color: #595959;
    margin: 4px 3px;
}

#search_popup > .content > .bottom {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:420px;
    justify-content: space-evenly;
    
}

#search_popup > .content > .bottom > div > h3 {
    margin-bottom: 20px;
}

#search_popup > .content > .bottom > .side {
    width: 270px;
    height: 420px;
}

#search_popup > .content > .bottom > .main {
    width: 300px;
    height: 420px;
    overflow: hidden;
}

#search_popup > .content > .bottom > .main > h3 > span {
    display: inline-block;
    font-size: 12px;
    color: #595959;
    padding: 2px;
}

#search_popup > .content > .bottom > .main > h3 > .popuppre {
    cursor: pointer;
}

#search_popup > .content > .bottom > .main > h3 > .popupnext {
    cursor: pointer;
}

#search_popup > .content > .bottom > .main > #product {
    position: relative;
    display: flex;
}

#search_popup > .content > .bottom > .main > .page1 {
    position: relative;
    left: 0px;
    transition: all 1s;
}

#search_popup > .content > .bottom > .main > .page2 {
    position: relative;
    left: -300px;
    transition: all 1s;
}

#search_popup > .content > .bottom > .main > #product > ul {
    width: 300px;
    height: 380px;
}

#search_popup > .content > .bottom > .main > #product > ul > .list {
    width: 300px;
    height: 80px;
    padding: 10px 10px;
    box-sizing: border-box;
}

#search_popup > .content > .bottom > .main > #product > ul > .list > a > .imgbox {
    display: block;
    width: 43px;
    height: 61px;
    float: left;
}

#search_popup > .content > .bottom > .main > #product > ul > .list > a > .imgbox > img {
    width: 43px;
    height: 61px;
}

#search_popup > .content > .bottom > .main > #product > ul > .list > a > span {
    display: inline-block;
    font-size: 12px;
    width: 230px;
    height: 61px;
    padding: 15px 0 15px 7px;
    box-sizing: border-box;
    color: #595959;
    font-weight: bold;
}

#search_popup > .content > .bottom > .side > ul > li {
    width: 270px;
    height: 28px;
    padding: 5px 5px;
}

#search_popup > .content > .bottom > .side > ul > li > a {
    font-size: 14px;
    color: #595959;
    font-weight: bold;
}

#search_popup > .content > .bottom > .side > ul > li > a > span {
    display: inline-block;
    width:30px;
}

#search_popup > .content > .bottom > .side > ul > li > a > .ranked {
    color: #3c9a17;
}

#search_popup > .content > .bottom > .button {
    width: 100%;
    height: 20px;
}

/*--------------headmiddle-----------*/

#headwrap > #head_middle > #basket {
    margin-left: 250px;
}

#headwrap > #head_middle > #basket > ul > li {
    float: left;
    margin: 0 0 0 30px;
}

#headwrap > #head_middle > #basket > ul > li > a{
    display: block;
    width: 40px;
    height: 40px;
}

#headwrap > #head_middle > #basket > ul > .sellbasket > a {
    background-size: 40px 40px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_header_cart@2x.png);
}

#headwrap > #head_middle > #basket > ul > .mymenu > a {
    background-size: 40px 40px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_header_my@2x.png);
}

#headwrap > #head_gnb {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
}

#headwrap > #head_gnb > #popupbutton {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    background-size: 40px 40px;
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_anb_open@2x.png);
}

#headwrap > #head_gnb > #popupbutton.on {
    cursor: pointer;
    z-index: 5;
    background-size: 40px 40px;
    background-image: url(	https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_anb_open_active@2x.png);
    transition: all 0.5s;
}

/*gnb popup*/

#headwrap > #head_gnb > #popupmenu {
    position: absolute;
    top: 50px;
    opacity: 0;
    transition: all 0.5s;
}

#headwrap > #head_gnb > #popupmenu.on{
    position: absolute;
    top: 50px;
    width: 1200px;
    height: 700px;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    z-index: 20;
    transition: all 0.5s;
}

#headwrap > #head_gnb > #popupmenu > #popupmenutitle {
    width: 100%;
    height: 100px;
    background:#fff;
    border-bottom: 1px solid #f2f2f2;
}

#headwrap > #head_gnb > #popupmenu > #popupmenutitle > .title {
    float: left;
    width: 50%;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

#headwrap > #head_gnb > #popupmenu > #popupmenutitle > .title.off {
    background-color: #f2f2f2;
}

#headwrap > #head_gnb > #popupmenu > #popupmenutitle > #popupgnb {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #767676;
}

#headwrap > #head_gnb > #popupmenu > .content {
    display: flex;
    width: 1200px;
    height: 550px;
    margin-top: 30px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contenttitle {
    width: 180px;
    height: 600px;
    padding-left: 40px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contenttitle > .title > li {
    padding: 10px;
    box-sizing: border-box;
}

#headwrap > #head_gnb > #popupmenu > .content > .contenttitle > .title > li > a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls{
    display: flex;
    width: 970px;
    height: 420px;
    padding: 10px;
    box-sizing: border-box;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 {
    width: 600px;
    height: 420px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 > h3 {
    font-size: 18px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 > .uldiv {
    display: flex;
    margin-top: 20px
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 > .uldiv > .mainul > li {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    margin-right: 40px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 > .uldiv > .mainul > li::after {
    content: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/ico_fold_menu_plus@2x.png);
    width: 10px;
    cursor: pointer;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content1 > .uldiv > .mainul > li > a {
    font-size: 14px;
    color: #000;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content2 > .uldiv {
    display: flex;
    margin-top: 20px
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content2 > .uldiv > .mainul > li {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px; 
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .content2 > .uldiv > .mainul > li > a {
    font-size: 14px;
    color: #000;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .mainuls > .popupAD > a > img {
    border-radius: 20px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .imgcontent {
    width: 900px;
    background-color: #fff;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .imgcontent > .imgs {
    display: flex;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .imgcontent > .imgs > li {
    width: 120px;
    text-align: center;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .imgcontent > .imgs > li > a > img {
    width: 80px;
    height: 80px;
}

#headwrap > #head_gnb > #popupmenu > .content > .contentwrap > .imgcontent > .imgs > li > a > span {
    display: block;
    font-size: 15px;
    color: #767676
}


/*gnb popup menu end*/

#headwrap > #head_gnb > #gnb {
    display: flex;
    width: 580px;
    justify-content: center;
}

#headwrap > #head_gnb > #gnb > li + li::before {
    content: "•";
    margin: 0 15px;
}

#headwrap > #head_gnb > #gnb > li > a {
    font-size: 14px;
    font-weight: bold;
    color:#000;
    font-weight: bold;
}

#headwrap > #head_gnb > #plusmenu {
    margin-left: 400px;
    display: flex;
}

#headwrap > #head_gnb > #plusmenu > li+li::before{
    content: "•";
    margin: 0 8px;
}

#headwrap > #head_gnb > #plusmenu > li > a {
    font-size: 12px;
    color: #000;
}

#headwrap > #head_gnb > #plusmenu > span {
    display: block;
    margin: 5px 0 0 10px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 8px;
    background-size: 15px 15px;
    background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_gnb_service_more@2x.png);
}

/*visual*/

#visualwrap {
    width: 100%;
}

#visual {
    width: 100%;
}

/*------------------banner---------------*/

#visual > #bannerwrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#visual > #bannerwrap > #banner {
    margin-top: 50px;
    width: 1200px;
    height: 570px;
    position: relative;
    z-index: 1;
}

#visual > #bannerwrap > #banner > #banner_img > li {
    position: absolute;
    opacity: 0;
    transition: all 2s;
}

#visual > #bannerwrap > #banner > #banner_img > .on {
    position: absolute;
    opacity: 1;
    transition: all 2s;
}

#visual > #bannerwrap > #banner > #banner_img > li > a > p {
    font-size: 34px;
    margin-left: 50px;
    font-weight: bold;
    color:#000
}

#visual > #bannerwrap > #banner > #banner_img > li > a > div {
    margin-top: 20px;
}

#visual > #bannerwrap > #banner > #bannerbar {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 5px;
    left: 200px;
    background-color: #fff;
}

#visual > #bannerwrap > #banner > #bannerbar > .list {
    display: flex;
}

#visual > #bannerwrap > #banner > #bannerbar > .list > li {
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 18px;
}

#visual > #bannerwrap > #banner > #bannerbar > .list > li.on {
    border-bottom: 2px solid #000;
}

#visual > #bannerwrap > #banner > #bannerbar > .list > li.on > a {
    font-weight: bold;
    color: #000;
}

#visual > #bannerwrap > #banner > #bannerbar > .list > li > a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #767676;
    font-weight: bold;
}

#visual > #bannerwrap > #banner > #bannerbar > .list::after {
    content: "|";
    color: #767676;
    padding: 10px 0;
}

#visual > #bannerwrap > #banner > #bannerbar > .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 100%;
}

#visual > #bannerwrap > #banner > #bannerbar > .btns > img {
    width: 50px;
    cursor: pointer;
}

#visual > #bannerwrap > #banner > #bannerbar > .btns > button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#visual > #bannerwrap > #fix_img {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

#visual > #bannerwrap > #fix_img > .fix_number {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 50px;
    right: 300px;
    z-index: 10;
}

#visual > #bannerwrap > #fix_img > .fix_number > .total::before {
    content: "-";
    color:#ccc;
} 

#visual > #bannerwrap > #fix_img > .fix_number > .total {
    color: #ccc;
}

#visual > #bannerwrap > #fix_img > .imgbox {
    width: 273px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#visual > #bannerwrap > #fix_img > .imgbox > .text {
    padding: 20px;
    box-sizing: border-box;
}

#visual > #bannerwrap > #fix_img > .imgbox > .text > .title {
    color: #474c98;
    font-size: 13px;
    font-weight: 700;
}

#visual > #bannerwrap > #fix_img > .imgbox > .text > .content {
    color: #000;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 700;
}

#visual > #bannerwrap > #fix_img > .imgbox > .text > .writer {
    color: #767676;
    font-size: 13px;
    margin-top: 15px;
}

/*----------------new 화재의 신상---------------------*/

#visual > #newproductwrap {
    margin-top: 50px;
    width:100%;
    height: 650px;
}

#visual > #newproductwrap > #newproduct {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 650px;
}

#visual > #newproductwrap > #newproduct > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

#visual > #newproductwrap > #newproduct > .title > span > a{
    color: #000;
    font-weight: bold;
}

#visual > #newproductwrap > #newproduct > .title > ul {
    display: flex;
    width: 1000px;
    padding: 0 30px;
    box-sizing: border-box;
}

#visual > #newproductwrap > #newproduct > .title > ul > li {
    margin-right: 30px;
}

#visual > #newproductwrap > #newproduct > .title > ul > li.on > a{
    color:#474c98;
    font-weight: bold;
    position: relative;
    transition: all 0.5s;
}

#visual > #newproductwrap > #newproduct > .title > ul > li.on > a::before {
    content: "•";
    font-size: 20px;
    color:#4dac27;
    position: absolute;
    top: -15px;
    left: 40%;
}

#visual > #newproductwrap > #newproduct > .title > ul > li > a {
    font-size: 15px;
    color: #767676;
}

#visual > #newproductwrap > #newproduct > .contents {
    width: 1200px;
    height: 580px;
    overflow: hidden;
    margin-top: 20px;
}

#visual > #newproductwrap > #newproduct > .contents > .books {
    position: relative;
    display: flex;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li {
    margin-right: 36px;
}
/* 
#visual > #newproductwrap > #newproduct > .contents > .books > li.now {

} */

#visual > #newproductwrap > #newproduct > .contents > .books > li > a > img {
    height: 270px;
    border-radius: 20px;
    transition: all 0.5s;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li.on > a > img {
    height: 400px;
    transition: all 0.5s;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li > .text > h5 {
    font-size: 13px;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li > .text > p {
    font-size: 12px;
    margin-top: 10px;
    color: #767676;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li > .price {
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li.on > .price {
    display: block;
}

#visual > #newproductwrap > #newproduct > .contents > .books > li > .text {
    margin-top: 20px;
}

#visual > #newproductwrap > #newproduct > .btn > button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#visual > #newproductwrap > #newproduct > .btn > .none {
    opacity: 0.3;
    cursor: default;
}

#visual > #newproductwrap > #newproduct > .btn > .newpre {
    top: 40%;
    left: -80px;
}

#visual > #newproductwrap > #newproduct > .btn > .newnext {
    top: 40%;
    right: -80px;
}

/* ----------------casting 화면------------------*/

#visual > #casting {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 70px;
}

#visual > #casting > .castingcontent{
    position: absolute;
}

#visual > #casting > .castingcontent.on {
    position: absolute;
    opacity: 1;
    transition: all 1s;
}

#visual > #casting > .castingcontent.off {
    position: absolute;
    opacity: 0;
    transition: all 1s;
}

#visual > #casting > #castingpage1 {
    width: 100%;
    height: 500px;
    background-size: 100% 700px;
    background-image: url(https://cdn.jwplayer.com/v2/media/1EhNCyae/thumbnails/ek9si5qx.jpg);
}

#visual > #casting > #castingpage1 > #castingback {
    width: 100%;
    height: 500px;
    background-color: rgba(00, 00, 00, 0.5);
}

#visual > #casting > #castingpage1 > #castingfront {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    top: -400px;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap {
    position: absolute;
    width: 100%;
    height: 500px;;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .title > img {
    width: 140px;
    height: 40px;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .title > span {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content {
    display: flex;
    width: 100%;
    height: 400px;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .text {
    width: 40%;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .text > p {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .text > span {
    display: inline-block;
    padding-top: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .text > span::before{
    content: "by ";
    color: #f4f4f4;
    font-size: 15px;
    font-weight: bold;
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .img {
    width: 60%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(https://cdn.jwplayer.com/v2/media/1EhNCyae/thumbnails/ek9si5qx.jpg);
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .img > a {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(00, 00, 00, 0.5);
}

#visual > #casting > #castingpage1 > #castingfront > .contentwrap > .content > .img > a > img {
    width: 70px;
    height: 70px;
}

/*page 2*/

#visual > #casting > #castingpage2 {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: 100% 700px;
    background-image: url(https://cdn.jwplayer.com/v2/media/Hz8jXCpI/thumbnails/oih9ifvw.jpg);
}

#visual > #casting > #castingpage2 > #castingback {
    width: 100%;
    height: 500px;
    background-color: rgba(00, 00, 00, 0.5);
}

#visual > #casting > #castingpage2 > #castingfront {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    top: -400px;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap {
    position: absolute;
    width: 100%;
    height: 500px;;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .title > img {
    width: 140px;
    height: 40px;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .title > span {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content {
    display: flex;
    width: 100%;
    height: 400px;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .text {
    width: 40%;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .text > p {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .text > span {
    display: inline-block;
    padding-top: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .text > span::before{
    content: "by ";
    color: #f4f4f4;
    font-size: 15px;
    font-weight: bold;
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .img {
    width: 60%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(https://cdn.jwplayer.com/v2/media/Hz8jXCpI/thumbnails/oih9ifvw.jpg);
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .img > a {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(00, 00, 00, 0.5);
}

#visual > #casting > #castingpage2 > #castingfront > .contentwrap > .content > .img > a > img {
    width: 70px;
    height: 70px;
}

#visual > #casting > .test {
    position: relative;
    width: 1200px;
    height: 400px;
    top: -400px;
    margin: 0 auto;
}

#visual > #casting > .test > .btns {
    position: absolute;
    width: 110px;
    height: 40px;
    top: 250px;
    z-index: 5;
}

#visual > #casting > .test > .btns > button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    background: none;
    cursor: pointer;
}

#visual > #casting > .test > .btns > .none {
    border: 1px solid rgba(00, 00, 00, 0.3);
    color: rgba(00, 00, 00, 0.3);
    opacity: 0.5;
    cursor: default;
}

/*picks*/

#visual > #pickswrap {
    width: 100%;
    height: 550px;
    background: rgba(77, 172, 39, 0.06);
    margin-top: 70px;
}

#visual > #pickswrap > #picks {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}

#visual > #pickswrap > #picks > .subject {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#visual > #pickswrap > #picks > .subject > a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

#visual > #pickswrap > #picks > #pickbox {
    display: flex;
    width: 100%;
    height: 340px;
}

#visual > #pickswrap > #picks > #pickbox > .picktext {
    width: 25%;
    height: 340px;
    padding: 50px 0;
}

#visual > #pickswrap > #picks > #pickbox > .picktext > .titext {
    color: #3c9a17;
    font-weight: bold;
}

#visual > #pickswrap > #picks > #pickbox > .picktext > .titext2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    margin: 10px 0 70px 0;
}

#visual > #pickswrap > #picks > #pickbox > .picktext > button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #4dac27;
    border: 1px solid #4dac27;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#visual > #pickswrap > #picks > #pickbox > .picktext > button:hover {
    background-color: #3c9a17;
    transition: 0.5s;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent {
    width: 75%;
    height: 340px;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul {
    display: flex;
    justify-content: space-evenly;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul > li {
    width: 200px;
    height: 340px;
    border-radius: 20px;
    border-radius: 1px solid #eaeaea;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul > li > div > img {
    width: 200px;
    height: 180px;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul > li > .text {
    width: 200px;
    height: 160px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul > li > .text > .title {
    font-size: 14px;
    font-weight: bold;
}

#visual > #pickswrap > #picks > #pickbox > .pickcontent > ul > li > .text > .content {
    font-size: 13px;
    margin-top: 10px;
    line-height: 20px;
}



/*sircle 슬라이드 , mouseover*/

#visual > #contentwrap {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

#visual > #contentwrap > #sircle_Slide {
    margin-top: 100px;
    position: relative;
}

#visual > #contentwrap > #sircle_Slide > button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

#visual > #contentwrap > #sircle_Slide > .sirclepre {
    position: absolute;
    left: -80px;
    top: 40%;
}

#visual > #contentwrap > #sircle_Slide > .sirclenext {
    position: absolute;
    right: -80px;
    top: 40%;
}

#visual > #contentwrap > #sircle_Slide > #sircle {
    width: 1200px;
    overflow: hidden;
}

#visual > #contentwrap > #sircle_Slide > #sircle > #sirclelist  {
    display: flex;
    width: min-content;
    flex-wrap: nowrap;
    overflow: hidden;
}

#visual > #contentwrap > #sircle_Slide > #sircle > #sirclelist > li {
    position: relative;
    height: 270px;
    width: 270px;
    border-radius: 140px;
    overflow: hidden;
    margin: 0 15px;
}

#visual > #contentwrap > #sircle_Slide > #sircle > #sirclelist > li:hover > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 270px;
    width: 270px;
    background: rgba(00,00,00, 0.5);
    top: 0px;
    cursor: pointer;
}


#visual > #contentwrap > #sircle_Slide > #sircle > #sirclelist > li > div > p{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

}

/*이벤트 슬라이드*/

#visual > #contentwrap > #event_Slide > .event {
    position: relative;
    height: 200px;
    margin-top: 100px;
}

#visual > #contentwrap > #event_Slide > .event > h2 {
    font-size: 30px;
}

#visual > #contentwrap > #event_Slide > .event > h2 > span {
    position: relative;
    font-size: 16px;
    margin: 0px 10px;
}

#visual > #contentwrap > #event_Slide > .event > h2 > .on {
    color: #474c98;
}

#visual > #contentwrap > #event_Slide > .event > h2 > .on::before {
    position: absolute;
    font-size: 20px;
    content: "•";
    color: #3c9a17;
    top: -18px;
    left: 45%;
}

#visual > #contentwrap > #event_Slide > .event > h2 > a {
    display: inline-block;
    position: absolute;
    top:30px;
    right: 0px;
    font-size: 16px;
    color: #000;
    
}


#visual > #contentwrap > #event_Slide > .event > .eventbox {
    width: 1200px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
}

#visual > #contentwrap > #event_Slide > .event > div > .slide {
    display: flex;
}

#visual > #contentwrap > #event_Slide > .event > .btnbox {
    position: absolute;
    right: 50px;
    top: 190px;
    width: 90px;
    height: 30px;
    background-color: rgba(00, 00, 00, 0.5);
    border-radius: 15px;
    text-align: center;
    line-height: 28px;
    z-index: 5;  
}

#visual > #contentwrap > #event_Slide > .event > .btnbox > span { 
    font-size: 14px;
    color: #fff;
}

/*footer*/

/*subfooter*/

#footerwrap {
    width: 100%;
}

#footer {
    width: 100%;
}

#footer > #subfooter {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

#footer > #subfooter > #notion {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 260px;
}

#footer > #subfooter > #notion > .box {
    width: 47%;
    height: 260px;
}

#footer > #subfooter > #notion > .box > div {
    width: 100%;
    height: 50px;
}

#footer > #subfooter > #notion > .box > div > h3 {
    display: flex;
    justify-content: space-between;
}

#footer > #subfooter > #notion > .box > div > h3 > span > a {
    color: #000;
    font-size: 16px;
}

#footer > #subfooter > #notion > .box > ul {
    display: flex;
    justify-content: space-between;
}

#footer > #subfooter > #notion > .box > ul > .text {
    width: 275px;
    height: 213px;
    border: 1px solid #ececec;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

#footer > #subfooter > #notion > .box > ul > .text > a {
    color: #000;
}

#footer > #subfooter > #notion > .box > ul > .text > a > h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#footer > #subfooter > #notion > .box > ul > .text > a > p {
    color: #000;
    font-size: 12px;
}

#footer > #subfooter > #notion > .box > ul > .text > a > .text {
    font-weight: bold;
}

#footer > #subfooter > #notion > .box > ul > .text > a > .date {
    margin-top: 20px;;
}

#footer > #subfooter > #notion > .box > ul > .text > a > span {
    color: #000;
}

#footer > #realfooter {
    display: flex;
    margin-top: 50px;
    width: 1200px;
    margin: 0 auto;
    height: 250px;
}

#footer > #realfooter > .left {
    width: 65%;
}

#footer > #realfooter > .left > ul {
    display: flex;
    padding: 20px 0;
}

#footer > #realfooter > .left > ul > li+li::before {
    content: "|";
    margin: 0 10px;
}

#footer > #realfooter > .left > ul > li > a {
    font-size: 13px;
    color: #000;
}

#footer > #realfooter > .left > ul > li > .special {
    font-weight: bold;
}

#footer > #realfooter > .left > p {
    font-size: 12px;
}

#footer > #realfooter > .left > p > button {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 13px;
}


#footer > #realfooter > .left > span {
    display: block;
    padding-top: 30px;
}

#footer > #realfooter > .right {
    padding-left: 20px;
    box-sizing: border-box;
}

#footer > #realfooter > .right > a > button {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 13px;
}

#footer > #realfooter > .right > .top{
    padding: 20px 10px 10px 10px;
}

#footer > #realfooter > .right > .top > .familybtn {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#footer > #realfooter > .right > .top > .familybtn > button {
    width: 220px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

#footer > #realfooter > .right > .top > .familybtn > .family {
    position: absolute;
    width: 210px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #767676;
    top: -340px;
    left: 10px;
    border-radius: 30px;
    opacity: 0;
}

#footer > #realfooter > .right > .top > .familybtn > .family.on {
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
}

#footer > #realfooter > .right > .top > .familybtn > .family > ul {
    padding: 20px;
    box-sizing: border-box;
}

#footer > #realfooter > .right > .top > .familybtn > .family > ul > li {
    padding: 1px 0px;
}

#footer > #realfooter > .right > .top > .familybtn > .family > ul > li > a{
    color: #595959;
    font-size: 12px;
}

#footer > #realfooter > .right > .top > button.on{
    background-color: white;
    border: 1px solid #000;
}

#footer > #realfooter > .right > .top > .familybtn > ul {
    display: flex;
    justify-content: space-around;
}

#footer > #realfooter > .right > .top > .familybtn > ul > li > a > img {
    width: 40px;
}

#footer > #realfooter > .right > span {
    color: #767676;
    font-size: 12px;
}

#footer > #realfooter > .right > p {
    color: #767676;
    font-size: 12px;
}

#footer > #realfooter > .right > .bottom {
    display: flex;
    margin-top: 20px;
}

#footer > #realfooter > .right > .bottom > a {
    color: #767676;
    font-size: 12px;
    display: flex;
}

#footer > #realfooter > .right > .bottom > a > img {
    width: 50px;
}

#footer > #realfooter > .right > .bottom > p {
    margin-left: 10px;
    font-size: 12px;
    color: #767676
}
/*https://www.kyobobook.co.kr/assets/images/common/img_service_mall_tab.svg#pathTab*/